<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
       
        <menuitem id="menu_root" name="Quản lý Nhân sự" sequence="0"/>
        
     
        <menuitem id="menu_nhan_vien" name="Nhân viên" parent="menu_root" action="action_nhan_vien" sequence="1"/>
        <menuitem id="menu_hop_dong" name="Hợp đồng" parent="menu_root" action="action_hop_dong" sequence="2"/>
        <menuitem id="menu_phong_ban" name="Phòng ban" parent="menu_root" action="action_phong_ban" sequence="3"/>
        <menuitem id="menu_cham_cong" name="Chấm công" parent="menu_root" action="action_cham_cong" sequence="4"/>
        <menuitem id="menu_lich_su_cong_tac" name="Lịch sử công tác" parent="menu_root" action="action_lich_su_cong_tac" sequence="5"/>
        <menuitem id="menu_chuc_vu" name="Chức vụ" parent="menu_root" action="action_chuc_vu" sequence="6"/>
        <menuitem id="menu_bang_luong" name="Bảng Lương" parent="menu_root" action="action_bang_luong" sequence="7"/>
        <menuitem id="menu_khen_thuong_ky_luat" name="Khen thưởng kỷ luật" parent="menu_root" action="action_khen_thuong_ky_luat" sequence="8"/>
    </data>
</odoo>
